// mixins
@mixin fonts($s, $c, $f, $l, $w) {
    font-size: $s;
    color: $c;
    font-family: $f, sans-serif;
    line-height: $l;
    font-weight: $w;
  }

// media 
@media (max-width:768px) {
    .contact{
      &__wrap{
        padding: 80px 30px;
      }
      &__input{
        width: 100% !important;
      }
      &__btn{
        width: 100%;
      }
    }
}
@media (max-width:992px) {
  .contact{
    &__title{
      @include fonts(18px, #39425d, 'Poppins', 25px, normal);
    }
  }
}
// contact section